<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FitBuddy | Your Sport Recommendation System</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Themesdesign" />

    <link rel="shortcut icon" href="images/favicon.ico" />

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">


    <!--Material Icon -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/materialdesignicons.min.css') }}"
    />

    <!-- Pe-icon-7 icon -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pe-icon-7-stroke.css') }}"/>

    <!-- Custom  Css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
    {% if 'error' in request.args %}
      <script>
        alert("Wrong username or password. Please try again.");
      </script>
    {% endif %}
  <body>
    <!-- START  NAVBAR -->
    <nav
      class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-light"
      id="navbar"
    >
      <div class="container">
        <a class="navbar-brand logo text-uppercase">
          <img src="{{ url_for('static', filename='images/logo-light.png') }}" alt="" height="24" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="mdi mdi-menu"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mx-auto" id="navbar-navlist">
            <li class="nav-item">
              <a class="nav-link" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#attributes">Attributes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#steps">Steps</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#client">Users</a>
            </li>
            <!-- <li class="nav-item">
                        <a class="nav-link" href="#price">Pricing</a>
                    </li> -->
            <li class="nav-item">
              <a class="nav-link" href="#faq">Faqs</a>
            </li>
            <!-- <li class="nav-item">
                        <a class="nav-link" href="#blog">Blog</a>
                    </li> -->
            <!-- <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li> -->
          </ul>

          <div>
            <ul
              class="top-right text-end list-unstyled list-inline navbar-nav"
            >
              <!-- <li class="list-inline-item"><a href="" class="facebook"><i class="mdi mdi-facebook"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="" class="twitter"><i class="mdi mdi-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="" class="instagram"><i class="mdi mdi-instagram"></i></a>
                        </li> -->
              <!-- <li class="list-inline-item">
                <a href="" class="profile">Log in<i class="mdi mdi-account"></i></a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="#login">Login / Sign up</a>
              </li> 
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!-- END NAVBAR -->

    <!-- START HOME -->
    <section
      class="section bg-home home-five align-items-center d-flex"
      id="home"
    >
      <div class="bg-overlay"></div>
      <div class="container slidero">
        <div class="row justify-content-center">
          <div class="col-lg-9">
            <div class="text-center text-white">
              <h1 class="home-title text-uppercase">
                Your accurate<br />sport recommendation system
              </h1>
              <div class="home-border my-3 mt-4"></div>
              <p class="home-subtitle pt-4 mx-auto">
                The Sport Buddy Recommendation System connects users with shared
                sports interests, skill levels, and proximity, fostering active
                lifestyles and social interaction.
              </p>
              <div class="pt-4 mt-3 home-button">
                <a href="#login" class="btn btn-primary btn-round text-uppercase"
                  >Log in
                  <span
                    class="play-shadow ms-2"
                    data-bs-toggle="modal"
                    data-bs-target="#watchvideomodal"
                    ><span class="home-btn"
                      ><i class="mdi mdi-play text-center"></i></span
                  ></span>

                  <!-- Modal -->
                  <div
                    class="modal fade bd-example-modal-lg"
                    id="watchvideomodal"
                    data-keyboard="false"
                    tabindex="-1"
                    aria-hidden="true"
                  >
                    <div
                      class="modal-dialog modal-dialog-centered modal-dialog modal-lg"
                    >
                      <div class="modal-content home-modal">
                        <div class="modal-header border-0">
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          ></button>
                        </div>
                        <video
                          id="VisaChipCardVideo"
                          class="video-box"
                          controls
                        >
                          <source
                            src="https://www.w3schools.com/html/mov_bbb.mp4"
                            type="video/mp4"
                          />
                          <!--Browser does not support <video> tag -->
                        </video>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END HOME -->

    <!-- START SERVICES -->
    <section class="section" id="attributes">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="title-box text-center">
              <h5 class="sub-title text-primary text-uppercase">
                Best Services
              </h5>
              <h3 class="mt-3 fw-normal">
                Creative Services with & digital business
              </h3>
              <div class="title-border"></div>
            </div>
          </div>
        </div>

        <div class="row mt-5 pt-3">
          <div class="col-lg-4">
            <div class="service-box mt-4">
              <div class="services-icon">
                <i class="pe-7s-diamond"></i>
              </div>
              <div class="mt-3">
                <h5 class="mb-3 f-17 mt-4">User Rating</h5>
                <p class="text-muted mb-0">
                  Rate and review sport buddy experiences. Improve matches, enhance connections, and boost sports community engagement.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="service-box mt-4">
              <div class="services-icon">
                <i class="pe-7s-display2"></i>
              </div>
              <div class="mt-3">
                <h5 class="mb-3 f-17 mt-4">Covers various sports</h5>
                <p class="text-muted mb-0">
                  Discover ideal sport buddies, create teams, and explore diverse sports activities in your area.                  
                </p>
              </div>
            </div>

          </div>

          <div class="col-lg-4">

            <div class="service-box mt-4">
              <div class="services-icon">
                <i class="pe-7s-plane"></i>
              </div>
              <div class="mt-3">
                <h5 class="mb-3 f-17 mt-4">All States</h5>
                <p class="text-muted mb-0">
                  Sport Buddy Recommendation System operates in all states, connecting sports enthusiasts. Find compatible sport buddies, join events, and foster active social networks.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- START CLIENTS -->
    <section class="section bg-light" id="client">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-lg-7">
            <div class="title-box">
              <h5 class="sub-title text-primary text-uppercase">Our User</h5>
              <h3 class="mt-2 fw-normal">
                What they say about us honest reviews
              </h3>
              <div class="title-border"></div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center mt-5 pt-4">
          <div class="col-lg-12">
            <div
              id="carouselExampleIndicators"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="client-box mt-4">
                    <div class="row">
                      <div class="col-lg-5">
                        <div class="client-img mt-4">
                          <img
                            src="{{ url_for('static', filename='images/users/img-1.jpg') }}"
                            class="img-fluid"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="col-lg-7">
                        <div class="mt-4">
                          <div class="client-content">
                            <h5 class="f-19 fw-normal line-height_1_6">
                              “This system is a game changer for me as it help
                              me find sports buddy comfortably”
                            </h5>

                            <div class="client-icon mt-4 pt-2">
                              <i class="mdi mdi-format-quote-close"></i>
                            </div>

                            <h5 class="f-17 mt-3 mb-2">Fudhail Afiq</h5>
                            <p class="text-primary mb-0 f-14"></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="carousel-item">
                  <div class="client-box mt-4">
                    <div class="row">
                      <div class="col-lg-5">
                        <div class="client-img mt-4">
                          <img
                            src="{{ url_for('static', filename='images/users/img-2.jpg') }}"
                            class="img-fluid"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="col-lg-7">
                        <div class="mt-4">
                          <div class="client-content">
                            <h5 class="f-19 fw-normal line-height_1_6">
                              “I'm suprised with the huge amount of badminton
                              friends that i discover from using this system”
                            </h5>

                            <div class="client-icon mt-4 pt-2">
                              <i class="mdi mdi-format-quote-close"></i>
                            </div>

                            <h5 class="f-17 mt-3 mb-2">Aiman Syafwan</h5>
                            <p class="text-primary mb-0 f-14"></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="carousel-item">
                  <div class="client-box mt-4">
                    <div class="row">
                      <div class="col-lg-5">
                        <div class="client-img mt-4">
                          <img
                            src="{{ url_for('static', filename='images/users/img-3.jpg') }}"
                            class="img-fluid"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="col-lg-7">
                        <div class="mt-4">
                          <div class="client-content">
                            <h5 class="f-19 fw-normal line-height_1_6">
                              "The system is completely easy to use to connect
                              with footballers!"
                            </h5>

                            <div class="client-icon mt-4 pt-2">
                              <i class="mdi mdi-format-quote-close"></i>
                            </div>

                            <h5 class="f-17 mt-3 mb-2">Danish Iskandar</h5>
                            <p class="text-primary mb-0 f-15"></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <ol class="carousel-indicators mb-0 rounded">
                <li
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="0"
                  class="active"
                >
                  <img
                    src="{{ url_for('static', filename='images/users/img-1.jpg') }}"
                    alt=""
                    class="testi-img img-fluid mx-auto d-block"
                  />
                </li>
                <li
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="1"
                >
                  <img
                    src="{{ url_for('static', filename='images/users/img-2.jpg') }}"
                    alt=""
                    class="testi-img img-fluid mx-auto d-block"
                  />
                </li>
                <li
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="2"
                >
                  <img
                    src="{{ url_for('static', filename='images/users/img-3.jpg') }}"
                    alt=""
                    class="testi-img img-fluid mx-auto d-block"
                  />
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section bg-light" id="login">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-lg-12">
            <div class="title-box">
              <h3 class="fw-normal">Login / Sign Up</h3>
              <div class="title-border"></div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center mt-5">
          <div class="col-lg-7">

            <ul class="nav nav-tabs">  
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#log_in" style="color: grey;"
                  >Login</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#signup" style="color: grey;">Sign Up</a>
              </li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane fade show active" id="log_in">
                <form class="sign-form" id="loginForm" action="/loginForm" method="POST">
                  <div class="form-group">
                    <label for="semail"
                      ><i class="mdi mdi-email-outline sign-icon"></i
                    ></label>
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      name="email"
                      placeholder="Email"
                    />
                  </div>
                  <div class="form-group">
                    <label for="mnumber"
                      ><i class="mdi mdi-key sign-icon"></i
                    ></label>
                    <input
                      type="password"
                      class="form-control"
                      id="password"
                      placeholder="Password"
                      name="password"
                    />
                  </div>
                  <div>
                    <button class="btn btn-primary w-100" type="submit">Log In</button>
                  </div>
                  <!-- <form id="loginForm" action="/loginForm" method="POST">
                    <div class="form-control">
                        <input type="email" name="email" required>
                        <label>Email</label>
                    </div>
                    <div class="form-control">
                        <input type="password" name="password" required>
                        <label>Password</label>
                    </div>
                    <button type="submit">Log In</button>
                  </form> -->
                </form>
              </div>

              <div class="tab-pane fade" id="signup" >
                <form class="sign-form" method="POST" action="/registerform">
                  <div class="form-group">
                    <label for="email"
                      ><i class="mdi mdi-email-outline sign-icon"></i
                    ></label>
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      placeholder="Email"
                      name="email"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="name"
                      ><i class="mdi mdi-account sign-icon"></i
                    ></label>
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      placeholder="Name"
                      name="name"
                      required
                    />
                  </div>
              
                  <div class="form-group">
                    <label for="mnumber"
                      ><i class="mdi mdi-key sign-icon"></i
                    ></label>
                    <input
                      type="password"
                      class="form-control"
                      id="password"
                      placeholder="Password"
                      name="password"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="semail"
                      ><i class="mdi mdi-account sign-icon"></i
                    ></label>
                    <input
                      type="text"
                      class="form-control"
                      id="age"
                      placeholder="Age"
                      name="age"
                      required
                    />
                  </div>
                  <div>
                    <h6>Gender</h6>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col s12 l2">
                        <input
                          type="radio"
                          name="gender"
                          value="male"
                          class="form-check-input"
                          id="gender"

                          required
                        />
                        <label class="mdi mdi-human-male" for="maleRadio" style="color: grey;">Male</label>
                      </div>
                      <div class="col s12 l2">
                        <input
                          type="radio"
                          name="gender"
                          value="female"
                          class="form-check-input"
                          id="gender"
                          required
                        />
                        <label class="mdi mdi-human-female" for="femaleRadio" style="color: grey;">Female</label>
                      </div>
                      <div class="col s12 l8"></div>
                    </div>
                  </div>
                  <div>
                    <h6>State</h6>
                  </div>
                  <div class="form-group">
                    <label for="state"><i class="mdi mdi-earth sign-icon"></i></label>
                    <select class="form-control" id="state" required name="state">
                      <option value="" disabled selected>State</option>
                      <option value="Perlis">Perlis</option>
                      <option value="Kedah">Kedah</option>
                      <option value="Pulau Pinang">Pulau Pinang</option>
                      <option value="Kelantan">Kelantan</option>
                      <option value="Selangor">Selangor</option>
                      <option value="Perak">Perak</option>
                      <option value="Terengganu">Terengganu</option>
                      <option value="Pahang">Pahang</option>
                      <option value="Johor">Johor</option>
                      <option value="Melaka">Melaka</option>
                      <option value="Sabah">Sabah</option>
                      <option value="Sarawak">Sarawak</option>
                      <option value="W.P Kuala Lumpur">W.P Kuala Lumpur</option>
                      <option value="W.P. Putrajaya">W.P. Putrajaya</option>
                      <option value="W.P. Labuan">W.P. Labuan</option>
                      <!-- Add more countries as needed -->
                    </select>
                  </div>
                  <div>
                    <h6>Are you an Athlete?</h6>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col s12 l2">
                        <input
                          type="radio"
                          name="athlete"
                          value="yes"
                          class="form-check-input"
                          id="athlete"
                          required
                        />
                        <label class="mdi mdi-check" for="maleRadio" style="color: grey;">Yes</label>
                      </div>
                      <div class="col s12 l2">
                        <input
                          type="radio"
                          name="athlete"
                          value="no"
                          class="form-check-input"
                          id="yesAthleteRadio"
                          required
                        />
                        <label class="mdi mdi-close" for="femaleRadio" style="color: grey;">No</label>
                      </div>
                      <div class="col s12 l8"></div>
                    </div>
                  </div>
                  <div>
                    <h6>Sport Preference</h6>
                  </div>
                  <div class="form-group">
                    <label for="sports"><i class="mdi mdi-basketball sign-icon"></i></label>
                    <select class="form-control" id="sport" required name="sports">
                      <option value="" disabled selected>Select your sport preference</option>
                      <option value="Football">Football</option>
                      <option value="Badminton">Badminton</option>
                      <option value="Bowling">Bowling</option>
                      <option value="Archery">Archery</option>
                      <option value="Equestrian">Equestrian</option>
                      <option value="Swimming">Swimming</option>
                      <option value="Netball">Netball</option>
                      <option value="Running">Running</option>
                      <option value="Handball">Handball</option>
                      <option value="Volleyball">Volleyball</option>
                      <option value="Golf">Golf</option>
                      <option value="Tennis">Tennis</option>
                      <option value="Cycling">Cycling</option>
                      <!-- Add more countries as needed -->
                    </select>
                  </div>
                  <div>
                    <h6>Time in a day that you do sport activities</h6>
                  </div>
                  <div class="form-group">
                    <label for="country"><i class="mdi mdi-clock sign-icon"></i></label>
                    <select class="form-control" id="time" required name="time">
                      <option value="" disabled selected>Enter the time in a day</option>
                      <option value="Morning">Morning</option>
                      <option value="Afternoon">Afternoon</option>
                      <option value="Evening">Evening</option>
                      <option value="Night">Night</option>
                      <!-- Add more countries as needed -->
                    </select>
                  </div>
                  <div>
                    <h6>Sport Skill Rating</h6>
                  </div>
                  <div class="form-group">
                    <label for="rating"><i class="mdi mdi-star sign-icon"></i></label>
                    <select class="form-control" id="rating" required name="rating">
                      <option value="" disabled selected>Rating</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <!-- Add more countries as needed -->
                    </select>
                  </div>
                  <div>
                    <button class="btn btn-primary w-100" type="submit">Sign Up</button> todo
                  </div>
                </form>
              </div>
              
          </div>
        </div>
      </div>
    </section>
    <!-- END SIGN IN FORM -->

    <!-- START FAQ -->
    <section class="section" id="faq">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-lg-12">
            <div class="title-box">
              <h5 class="sub-title text-primary text-uppercase">
                More Question
              </h5>
              <h3 class="mt-2 fw-normal">Frequently Asked Questions</h3>
              <div class="title-border"></div>
            </div>
          </div>
        </div>
        <div class="row mt-5 pt-4 align-items-center">
          <!-- <div class="col-lg-6">
                    <div class="row mt-4">
                        <div class="col-lg-6">
                            <div class="featutes-box active p-4 mt-4">
                                <h3 class="text-primary">370+</h3>
                                <h5 class="f-17 mt-2 text-primary fw-normal">Happy Clients</h5>
                                <p class="text-muted mt-2 mb-0">Suspendisse potenti aliquam vulputate quis felis.</p>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="featutes-box p-4 mt-4">
                                <h3>2M</h3>
                                <h5 class="f-17 mt-2 fw-normal">Download</h5>
                                <p class="text-muted mt-2 mb-0">Curabitur pulvinar in commodo Integer placera tellus.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="featutes-box p-4 mt-4">
                                <h3>4500+</h3>
                                <h3 class="f-17 mt-2 fw-normal">Happy Users</h3>
                                <p class="text-muted mt-2 mb-0">Proin dictum ipsum vestibulum soudin sagittis est. </p>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="featutes-box p-4 mt-4">
                                <h3>5+</h3>
                                <h3 class="f-17 mt-2 fw-normal">Years of expe.</h3>
                                <p class="text-muted mt-2 mb-0">Sodales maximus ex lectus venenatis lacus.</p>
                            </div>
                        </div>
                    </div>

                </div> -->

          <div class="col-lg-12">
            <div class="accordion faq-box mt-4" id="accordionExample">
              <div class="accordion-item mt-4">
                <h2 class="accordion-header" id="headingOne">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    <h5 class="mb-0 f-16">
                      How does the recommendation system work?
                    </h5>
                    <i class="mdi mdi-chevron-down f-20 ms-auto"></i>
                  </button>
                </h2>
                <div
                  id="collapseOne"
                  class="accordion-collapse collapse show"
                  aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <p class="text-muted mb-0">
                      After securely receiving and processing the user's
                      valuable data, the advanced matching algorithm will deftly
                      employ the powerful concept of cosine similarity,
                      meticulously comparing the user's attributes to those of
                      numerous other users within the extensive database. This
                      intricate analysis will accurately identify the top 10
                      users whose interests, preferences, and characteristics
                      bear the closest resemblance to the original user's,
                      culminating in a meticulously curated selection of highly
                      compatible matches. Consequently, the user will be
                      provided with an unparalleled opportunity to conveniently
                      reach out and connect with these top recommendations,
                      fostering meaningful interactions and potentially
                      nurturing enduring relationships within a vibrant and
                      like-minded community.
                    </p>
                  </div>
                </div>
              </div>

              <div class="accordion-item mt-4">
                <h2 class="accordion-header" id="headingTwo">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                    <h5 class="mb-0 f-16">
                      Is the system suitable for all age groups?
                    </h5>
                    <i class="mdi mdi-chevron-down f-20 ms-auto"></i>
                  </button>
                </h2>
                <div
                  id="collapseTwo"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <p class="text-muted mb-0">
                      Yes, the Sport Buddy Recommendation System caters to users
                      of all age groups, encouraging sports participation and
                      socialization across different demographics.
                    </p>
                  </div>
                </div>
              </div>

              <div class="accordion-item mt-4">
                <h2 class="accordion-header" id="headingThree">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                    <h5 class="mb-0 f-16">
                      What if I want to participate in a specific sport?
                    </h5>
                    <i class="mdi mdi-chevron-down f-20 ms-auto"></i>
                  </button>
                </h2>
                <div
                  id="collapseThree"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <p class="text-muted mb-0">
                      The system considers individual preferences, allowing
                      users to specify particular sports of interest to find
                      suitable sport buddies accordingly.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END FAQ -->
    <section class="bg-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div class="mt-4">
              <h5 class="f-17 text-white fw-normal">About us</h5>
              <p class="text-white-50 mt-3 pt-1">
                The ingenious creation of this exceptional system can be
                attributed to the brilliant mind of Danish Iskandar, who
                masterfully developed it as a crowning achievement for their
                final year project during their pursuit of a Bachelor's degree
                in Computer Science at UiTM Jasin. Drawing on their profound
                knowledge and skills, Danish Iskandar expertly utilized a
                carefully orchestrated combination of cutting-edge technologies,
                such as Flask, MySQL, and Bootstrap, to bring this project to
                fruition in a seamless and efficient manner.With meticulous
                attention to detail, this innovative system harnesses the power
                of advanced data analysis techniques, skillfully considering
                crucial factors like sports preferences, age, and gender from
                the users' input data.
              </p>
            </div>
          </div>

          <div class="col-lg-4 offset-lg-1">
            <div class="row">
              <div class="col-lg-4">
                <div class="mt-4 ps-0 ps-lg-5">
                  <h5 class="f-17 text-white fw-normal">Resources</h5>
                  <ul class="list-unstyled footer-link mt-3 mb-0">
                    <li><a href="">Home</a></li>
                    <li><a href="">Attributes</a></li>
                    <li><a href="">Works</a></li>
                    <li><a href="">Users</a></li>
                    <li><a href="">Faqs</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr class="my-5" />

        <div class="row">
          <div class="col-lg-12">
            <img src="{{ url_for('static', filename='images/logo-light.png') }}" alt="" height="24" />

            <p class="text-white-50 float-end mb-0">
              2023 © FitBuddy. Designed and developed by Danish Iskandar
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- bootstrap -->
    <script src= "{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <!-- JAVASCRIPTS -->
    <script src="{{ url_for('static', filename='js/smooth-scroll.polyfills.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gumshoe.polyfills.min.js') }}"></script>
    <!--Partical js-->
    <script src="{{ url_for('static', filename='js/particles.js') }}"></script>
    <script src="{{ url_for('static', filename='js/particles.app.js') }}"></script>
    <!-- CUSTOM JS -->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
